<!-- index.nunjucks -->
{% extends "layout.nunjucks" %}

{% block content %}
	<div class="main-slider regular-slider">
		<div class="display-table center-text">
			<div class="display-table-cell">
				<div class="slider-content">

					<h1 class="title">Wedding Details</h1>
					<span class="heading-bottom"><i class="icon icon-star"></i></span>

				</div><!-- slider-content-->
			</div><!--display-table-cell-->
		</div><!-- display-table-->
	</div><!-- main-slider -->


	<section class="regular-area">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">

					<div class="content">

					<p class="margin-top-btm">We look forward to celebrating our marriage with all of you! Check out the planned wedding
					activities, accommodations for your stay in our beautiful city, and some suggestions for things to do in your free time.
					</p>

					<h2 class="margin-top-btm">Planned Wedding Festivities</h2>

					<p class="margin-top-btm">...or as Eric likes to call them, "Alissa's organized fun."

					<h3 class="margin-top-btm">Thursday: The Welcome Party</h3>

<!--NEED TO ADD PICTURE WHEN WE CHOOSE SOMETHING					<p class="margin-top-btm">
						<div class="img-wrapper float-left">
							<img src="https://static1.squarespace.com/static/5540012ee4b0e857a44187e5/t/59c84456914e6be086286a01/1532558489028/KatieWillDanielleFlakePhotography-02-3.JPG?format=1000w" alt="Content Image">
						</div> -->
						<strong>Thursday, August 29, 2019</strong> <!--at TBD<br>-->
<!--						Location: TBD<br>
						Address: TBD<br>
						Raleigh, NC TBD</strong> -->

						<br><br>

						<em>We are still figuring out the details; we will share them as soon as we are able!</em>

					</p>

						<h3 class="margin-top-btm">Friday: The Wedding Ceremony and Reception</h3>

						<p class="margin-top-btm">
							<div class="img-wrapper float-left">
								<img src="https://static1.squarespace.com/static/5540012ee4b0e857a44187e5/t/59c84456914e6be086286a01/1532558489028/KatieWillDanielleFlakePhotography-02-3.JPG?format=1000w" alt="Content Image">
							</div>
							<strong>Friday, August 30, 2019 at 5:30pm<br>
							The Merrimon-Wynne House<br>
							500 North Blount Street<br>
							Raleigh, NC 27604</strong>

							<br><br>

							The ceremony and reception will take place at the Merrimon-Wynne House. Guests will get to enjoy
							the lawn for the ceremony (weather permitting), the house for cocktail hour, and the carriage house for the
							reception (and, if needed, a back-up space for the ceremony). For more information on the house, including
							details about the restoration, visit <a href="http://www.merrimonwynne.com/">www.merrimonwynne.com</a>.

							<br><br>

						  Get to know our wedding party <a href="ERIC PUT WEBSITE ADDRESS">here</a>.

							<br><br>

							Check out our registry <a href="ERIC PUT WEBSITE ADDRESS">here</a>.

							<br><br>

						  We are having an adults-only ceremony and reception. We know your kids are awesome; however, we can only
							accommodate children in the wedding party.
						</p>

						<h3 class="margin-top-btm">Saturday: The Party After the Party</h3>

	<!--NEED TO ADD PICTURE WHEN WE CHOOSE SOMETHING					<p class="margin-top-btm">
							<div class="img-wrapper float-left">
								<img src="https://static1.squarespace.com/static/5540012ee4b0e857a44187e5/t/59c84456914e6be086286a01/1532558489028/KatieWillDanielleFlakePhotography-02-3.JPG?format=1000w" alt="Content Image">
							</div> -->
							<strong>Saturday, August 31, 2019</strong> <!--at TBD<br>-->
	<!--						Location: TBD<br>
							Address: TBD<br>
							Raleigh, NC TBD</strong> -->

							<br><br>

							<em>We are still figuring out the details; we will share them as soon as we are able!</em>

						</p>

						<h2 class="margin-top-btm">Accommodations</h2>

						<p class="margin-top-btm">
							<div class="img-wrapper float-right">
								<img src="https://cache.marriott.com/marriottassets/marriott/RDURX/rdurx-entrance-0015-hor-wide.jpg?downsize=1440px:*">
							</div>
							<strong>Residence Inn Raleigh Downtown<br>
							616 South Salisbury Street<br>
							Raleigh, NC 27601</strong>

						<br><br>

							For guests coming in from out of town, we arranged a room block at the Residence Inn Downtown Raleigh. The Residence
							Inn is about a 1 mile walk to the Merrimon-Wynne through downtown Raleigh, or a quick drive/Lyft!

							<br><br>

							The rate is $144 per night, with rooms blocked:

					 <br>

					 <ul>
					 <li>Thursday, August 29</li>
					 <li>Friday, August 30</li>
					 <li>Saturday, August 31</li>
					 </ul>


							You can book your room in one of two ways:

					<br>

						<ul>
							<li>Online, by following this <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Chambers-Sauer%20Wedding%5Erdurx%60CSWCSWA%7CCSWCSWB%60144.00%60USD%60false%606%608/29/19%609/1/19%608/8/19&app=resvlink&stop_mobi=yes">link</a></li>
							<li>Phone, by calling the hotel directly at 919-856-0017 and requesting the <strong>Chambers-Sauer Wedding</strong>
							group block (group code <strong>CSW</strong>).</li>
						</ul>

							Note: The rate is also good for two days before and two days after the blocked dates. Rooms on those dates are
							not guaranteed and are available on a first come, first served basis. If you want to book these dates at the $144 rate,
							please call the hotel directly.
 						</p>


						<h2 class="margin-top-btm">Things to Do</h2>

						<p class="margin-top-btm">
						In the age of Yelp, it is easy to find something to entertain you when you have free time. Here are a few of our
						favorite things! We have several other suggestions for food and drink; check your welcome bag for those.

						<ul>
							<li><strong>North Carolina Museum of Natural Sciences</strong>
								<ul><em>Free</em> museum in walking distance of hotel. Two buildings to explore. Make sure you go to the
								butterfly conservatory to see the sloth! (And if you get to see the sloth outside of his box, consider yourself
								lucky!) For more information, click <a href="https://naturalsciences.org/"> here</a>.
								</ul>
							</li>

							<li><strong>Morgan Street Food Hall</strong>
								<ul>If you are looking for a place to grab a bite, this will please the crowd! BBQ, burgers, empanadas,
								ramen, curry, tacos. You name it, they've got it. Great outdoor seating and bar, too! For more information,
								click <a href="www.morganfoodhall.com/"> here</a>.
								</ul>
							</li>

							<li><strong>The Morning Times</strong>
								<ul>One of Eric's favorite coffee shops. Get the breakfast burrito. For more information, click
								<a href="https://www.morningtimes-raleigh.com/"> here</a>.
								</ul>
							</li>

							<li><strong>Conservators Center</strong>
								<ul>If you have an extra day, we highly recommend the Conservators Center. This center houses animals that
								came out of bad situations (e.g., a tiger from a family who thought they could have a tiger in their garage)
								and is an educational non-profit. We have been several times and it is a memorable experience! The center is
								about an hour away from Raleigh and you need to book a guided tour time. For more information, and to book your
								tour, click <a href="https://www.conservatorscenter.org/"> here</a>.
								</ul>
							</li>
							</ul>

						<div class="row">
							<div class="col-sm-6">
							</div><!-- col-sm-6 -->
							<div class="col-sm-6">
							</div><!-- col-sm-6 -->
						</div><!-- row -->

					</div><!-- content -->

				</div><!-- col-sm-12 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- section -->

{% endblock %}
