<!-- index.nunjucks -->
{% extends "layout.nunjucks" %}

{% block content %}
	<div class="main-slider regular-slider">
		<div class="display-table center-text">
			<div class="display-table-cell">
				<div class="slider-content">

					<h1 class="title">Wedding Details</h1>
					<span class="heading-bottom"><i class="icon icon-star"></i></span>

				</div><!-- slider-content-->
			</div><!--display-table-cell-->
		</div><!-- display-table-->
	</div><!-- main-slider -->


	<section class="regular-area">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">

					<div class="content">

					<p class="margin-top-btm">We look forward to celebrating our marriage with all of you! Check out the planned wedding
					activities, accommodations for your stay in our beautiful city, and some suggestions for things to do in your free time.
					</p>

					<h2 class="margin-top-btm">Planned Wedding Festivities</h2>

					<p class="margin-top-btm">...or as Eric likes to call them, "Alissa's organized fun."

					<h3 class="margin-top-btm">Thursday: The Welcome Party</h3>

<!--NEED TO ADD PICTURE WHEN WE CHOOSE SOMETHING					<p class="margin-top-btm">
						<div class="img-wrapper float-left">
							<img src="/images/mwhouse.jpg" alt="Content Image">
						</div> -->
						<strong>Thursday, August 29, 2019</strong> <!--at TBD<br>-->
<!--						Location: TBD<br>
						Address: TBD<br>
						Raleigh, NC TBD</strong> -->

						<br><br>

						<em>We are still figuring out the details; we will share them as soon as we are able!</em>

					</p>

						<h3 class="margin-top-btm">Friday: The Wedding Ceremony and Reception</h3>

						<p class="margin-top-btm">
							<div class="img-wrapper float-left">
								<img src="/images/mwhouse.jpg" alt="Merrimon Wynne House">
							</div>
							<strong>Friday, August 30, 2019 at 5:30pm<br>
							The Merrimon-Wynne House<br>
							500 North Blount Street<br>
							Raleigh, NC 27604</strong>

							<br><br>

							The ceremony and reception will take place at the Merrimon-Wynne House. Guests will get to enjoy
							the lawn for the ceremony (weather permitting), the main house for cocktail hour, and the carriage house for the
							reception (and, if needed, a back-up space for the ceremony). For more information on the house, including
							details about the restoration, visit <a href="http://www.merrimonwynne.com/">www.merrimonwynne.com</a>.

							<br><br>

							We are so thankful for our friends and family who have agreed to stand with us as we say, "I do!"
							Get to know our wedding party <a href="/wedding-party.html">here</a>.

						</p>

						<h4 class="margin-top-btm">Some helpful details:</h4>

						<p class="margin-top-btm">

						<ul>
							<li>We are getting married in a historic mansion that was built in 1876.
							The main house was restored in 2014 and the carriage house was added in 2016. Both buildings are air conditioned,
							but the ceremony will be outside and August in Raleigh can be warm.
							</li>

							<li>We are having an adults-only ceremony and reception. We know your kids are awesome; however, we can only
							accommodate children in the wedding party.
							</li>

							<li>Who really knows what wedding dress codes mean?
							We would like to honor the history of the Merrimon-Wynne mansion with a <em>creative</em> black tie event.
							If you need inspiration, think black tie optional, but don't be afraid of adding color!
							Above all, we want you to be comfortable so you can eat, drink and dance the night away!
							</li>

							<li>For those driving to the Merrimon-Wynne, the parking lot is located behind the NC Ethics Commission,
							on the corner of North Blount Street and Polk Street. You can access this lot from North Blount Street.
							Parking is available at no cost after 5pm on Friday. Cars may be left overnight.
							</li>

							<li>While the presence of your company is the best gift we could ask for, registry information is
							<a href="/registry.html"> here</a> for those who have expressed an interest in offering a gift to mark the occasion.
							</li>

							<li>Any questions? Contact us at chambers.sauer@gmail.com.
							</li>

						</ul>

						</p>

						<h3 class="margin-top-btm">Saturday: The Party After the Party</h3>

	<!--NEED TO ADD PICTURE WHEN WE CHOOSE SOMETHING					<p class="margin-top-btm">
							<div class="img-wrapper float-left">
								<img src="https://static1.squarespace.com/static/5540012ee4b0e857a44187e5/t/59c84456914e6be086286a01/1532558489028/KatieWillDanielleFlakePhotography-02-3.JPG?format=1000w" alt="Content Image">
							</div> -->
							<strong>Saturday, August 31, 2019</strong> <!--at TBD<br>-->
	<!--						Location: TBD<br>
							Address: TBD<br>
							Raleigh, NC TBD</strong> -->

							<br><br>

							<em>We are still figuring out the details; we will share them as soon as we are able!</em>

						</p>

						<h2 class="margin-top-btm">Accommodations</h2>

						<p class="margin-top-btm">
							<div class="img-wrapper float-right">
								<img src="https://cache.marriott.com/marriottassets/marriott/RDURX/rdurx-entrance-0015-hor-wide.jpg?downsize=1440px:*">
							</div>
							<strong>Residence Inn Raleigh Downtown<br>
							616 South Salisbury Street<br>
							Raleigh, NC 27601</strong>

						<br><br>

							For guests coming in from out of town, we arranged a room block at the Residence Inn Downtown Raleigh. The Residence
							Inn is about a 1 mile walk to the Merrimon-Wynne through downtown Raleigh, or a quick drive/Lyft!

							<br><br>

							The Residence Inn has suite-style rooms with fully-equipped kitchens, along with complimentary internet access.
							The hotel has a 24-hour fitness center, a complimentary breakfast buffet, and two full-service restaurants.
							Parking is conveniently located in the deck behind the hotel.

							<br><br>

							We have rooms blocked on the following dates:

					 <br>

					 <ul>
					 <li>Thursday, August 29</li>
					 <li>Friday, August 30</li>
					 <li>Saturday, August 31</li>
					 </ul>


							You can book your room in one of two ways:

					<br>

						<ul>
							<li>Online, by following this <a href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1552070362394&key=GRP&app=resvlink" target="_blank">link</a></li>
							<li>Phone, by calling the hotel directly at 919-856-0017 and requesting the <strong>Chambers-Sauer Wedding</strong>
							group block (group code <strong>CSW</strong>).</li>
						</ul>

							<strong>Book your room soon to ensure you get the block rate!</strong/>

							<br><br>

							<small>Note: The room block rate expires on August 8, 2019. The rate is also good for two days before and two days after the blocked dates. Rooms on those dates are
							not guaranteed and are available on a first come, first served basis. If you want to book these dates at the reduced rate,
							please call the hotel directly.</small>
 						</p>


						<h2 class="margin-top-btm">Things to Do</h2>

						<p class="margin-top-btm">
						In the age of Yelp, it is easy to find something to entertain you when you have free time. Here are a few of our
						favorite things! We have several other suggestions for food and drink; check your welcome bag for those.

						<ul>
							<li><strong>North Carolina Museum of Natural Sciences</strong>
								<ul><em>Free</em> museum less than a mile from the hotel. Two buildings to explore. Make sure you go to the
								butterfly conservatory to see the sloth! And if you get to see the sloth outside of his box, consider yourself
								lucky!
								For more information, click <a href="https://naturalsciences.org/"> here</a>.
								</ul>
							</li>

							<li><strong>Historic Oakwood Walking Tour</strong>
								<ul>
								Take a self-guided walking tour of the only intact nineteenth century neighborhood in Raleigh, Oakwood.
								Start the walk at Anisette Little Shop to get some coffee; it's about a mile from the hotel.
								Alissa's favorite house is at 501 Polk Street.
								For more information, and to download the brochure with details on the houses,
								click <a href="https://www.historicoakwood.org/walking-tour/"> here</a>.
								</ul>
							</li>

							<li><strong>Conservators Center</strong>
								<ul>If you have an extra day, we highly recommend the Conservators Center. This center houses animals that
								came out of bad situations (e.g., a tiger from a family who thought they could have a tiger in their garage)
								and is an educational non-profit. We have been several times and it is a memorable experience! The center is
								about an hour away from Raleigh and you need to book a guided tour time.
								For more information, and to book your tour, click <a href="https://www.conservatorscenter.org/"> here</a>.
								</ul>
							</li>
							</ul>

						<div class="row">
							<div class="col-sm-6">
							</div><!-- col-sm-6 -->
							<div class="col-sm-6">
							</div><!-- col-sm-6 -->
						</div><!-- row -->

					</div><!-- content -->

				</div><!-- col-sm-12 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- section -->

{% endblock %}
