<!-- index.nunjucks -->
{% extends "layout.nunjucks" %}

{% block content %}
	<div class="main-slider regular-slider">
		<div class="display-table center-text">
			<div class="display-table-cell">
				<div class="slider-content">

					<h1 class="title">Wedding Details</h1>
					<a href="index.html"><i class="icon icon-home"></i>Home</a>
					<a href="details.html"><i class="icon icon-right-open-big"></i>Regular Page</a>

				</div><!-- slider-content-->
			</div><!--display-table-cell-->
		</div><!-- display-table-->
	</div><!-- main-slider -->


	<section class="regular-area">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">

					<div class="content">

						<div class="img-wrapper">
							<img src="https://static1.squarespace.com/static/5540012ee4b0e857a44187e5/t/59c84456914e6be086286a01/1532558489028/KatieWillDanielleFlakePhotography-02-3.JPG?format=1000w" alt="Content Image">
						</div>

						<h2 class="margin-top-btm">Venue</h2>

						<p class="margin-top-btm">
							Say some stuff about Merrimon-Wynne House.
						</p>

						<div class="img-wrapper">
							<img src="https://cache.marriott.com/marriottassets/marriott/RDURX/rdurx-entrance-0015-hor-wide.jpg?downsize=1440px:*">
						</div>

						<h2 class="margin-top-btm">Accomodations</h2>

						<p class="margin-top-btm">
							For guests coming in from out of town, we have arranged a room block at the Residence Inn Downtown Raleigh. The rate is $144.00 per night, and is good from Tuesday, August 27 2019 until Sunday, September 03 2019.
						</p>

						<p class="margin-top-btm">
							Guests can book rooms one of two ways:
						</p>

						<ul>
							<li><a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Chambers-Sauer%20Wedding%5Erdurx%60CSWCSWA%7CCSWCSWB%60144.00%60USD%60false%606%608/29/19%609/1/19%608/8/19&app=resvlink&stop_mobi=yes">Online, by following this link</a></li>
							<li>By calling the hotel directly at 919-856-0017 and requesting the <b>Chambers-Sauer Wedding</b> group block by referencing the group code <b>CSW</b>.</li>
						</ul>

						<h4 class="margin-top-btm">Shooting Flowers and Bouquets</h4>

						<p class="margin-top-btm">Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea. Liusmod tempor incididunt
						ut labore et dolore magna aliqua. Ut enim ad minim veniam, qui s nostrud exercitation
						ullamLorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet,
						consectetur adipisicing elit.</p>

						<div class="quoto-area margin-top-btm">
							<h3 class="quoto"><i class="icon icon-quote"></i>
							“Love recognizes no barriers. It jumps hurdles, leaps fences, penetrates walls to
							arrive at its destination full of hope.”</h3>
							<h5 class="name">Maya Angeluo</h5>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="img-wrapper"><img src="images/regular-content-2-600x400.jpg" alt="Content Image"></div>
							</div><!-- col-sm-6 -->
							<div class="col-sm-6">
								<div class="img-wrapper"><img src="images/regular-content-3-600x400.jpg" alt="Content Image"></div>
							</div><!-- col-sm-6 -->
						</div><!-- row -->

						<h4 class="margin-top-btm">Quick Note About the Gifts</h4>

						<p class="desc">Tiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea. Liusmod tempor incididunt
						ut labore et dolore magna aliqua. Ut enim ad minim veniam, qui s nostrud exercitation
						ullamLorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet,
						consectetur adipisicing elit.</p>

						<div class="img-wrapper"><img src="images/regular-content-4-1000x650.jpg" alt="Content Image"></div>

						<h4 class="margin-top-btm">Quick Note About the Gifts</h4>

						<ul class="braidmaids-name">
							<li>Braidsmaids: Tricia Brandy (Maid of Honor)</li>
							<li>Mandy Castro</li>
							<li>Daniel Dulon</li>
							<li>Megan Hines</li>
							<li>Katie Johnson</li>
							<li>Katie Lugan</li>
						</ul>
					</div><!-- content -->

				</div><!-- col-sm-12 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- section -->

{% endblock %}
