<!-- registry.nunjucks -->
{% extends "layout.nunjucks" %}

{% block content %}
<div class="main-slider regular-slider">
  <div class="display-table center-text">
    <div class="display-table-cell">
      <div class="slider-content">

        <h1 class="title">Registry</h1>
        <span class="heading-bottom"><i class="icon icon-star"></i></span>

      </div><!-- slider-content-->
    </div><!--display-table-cell-->
  </div><!-- display-table-->
</div><!-- main-slider -->

<section class="regular-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="content">

        <p class="margin-top-btm">We set up an alternative registry at <a href="www.zola.com/registry/ericandalissa"> Zola</a>.
        </p>

        </div><!-- content -->

      </div><!-- col-sm-12 -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- section -->

{% endblock %}
