<!-- registry.nunjucks -->
{% extends "layout.nunjucks" %}

{% block content %}
<div class="main-slider regular-slider">
  <div class="display-table center-text">
    <div class="display-table-cell">
      <div class="slider-content">

        <h1 class="title">Registry</h1>
        <span class="heading-bottom"><i class="icon icon-star"></i></span>

      </div><!-- slider-content-->
    </div><!--display-table-cell-->
  </div><!-- display-table-->
</div><!-- main-slider -->

<section class="regular-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="content">

        <h2 class="margin-top-btm">Greetings!</h2>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/registry.jpg">
          </div>

        <p class="margin-top-btm">
        Each of you has played an important part in our life,
        and your presence at our wedding is the greatest gift we could ask for!
        The time, effort and expense of traveling to be with us is something we deeply appreciate.
        We are so thrilled that we will be able to celebrate our wedding with you!

        <br><br>

        We've provided information below if you would like to mark the occasion with a gift.

        <br><br>

        As we are an older couple, our house is already stocked with the "newlywed essentials."
        We have a few large-scale dreams that you could help us out with, if you'd like.
        Dubbed as an alternative registry, those dreams are shared at <a href="https://www.zola.com/registry/ericandalissa"> Zola</a>.

        <br><br>

        As a more traditional registry, we've combined our Amazon
        Wish Lists into a wedding registry, which you can find <a href="https://www.amazon.com/wedding/share/ericandalissa"> here</a>.
        </p>

        </div><!-- content -->

      </div><!-- col-sm-12 -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- section -->

{% endblock %}
