<!-- story.nunjucks -->
{% extends "layout.nunjucks" %}

{% block content %}
	<div class="main-slider regular-slider">
		<div class="display-table center-text">
			<div class="display-table-cell">
				<div class="slider-content">

					<h1 class="title">Our Story</h1>
					<span class="heading-bottom"><i class="icon icon-star"></i></span>

				</div><!-- slider-content-->
			</div><!--display-table-cell-->
		</div><!-- display-table-->
	</div><!-- main-slider -->


	<section class="regular-area">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">

					<div class="content">

						<h2 class="margin-top-btm">How We Met <small>as told by Alissa</small></h2>

						<p class="margin-top-btm">We found ourselves at the same birthday party on March 3, 2012.
						Eric was there because it was his friend’s birthday. I was there because it was my coworker’s
						birthday. Due to our different views of the party (friend vs. coworker), we weren’t on the
						same page at the beginning of the night. I mentioned just having a beer or two before taking off,
						which led Eric to believe I was a party pooper. Thus begins the lore of Eric disliking me when we
						first met. In my defense, he gave me some pretty mean looks that night! I have since learned that sometimes
						those intense looks are looks of love...

						<br><br>

						After being encouraged to play a game of beer pong, I decided to stay,
						and Eric realized that maybe I wasn't too much of a party pooper. We bonded over stories about our cats,
						we laughed telling stories about our families, and Eric acted as DJ for an impressive kitchen dance party.

						<br><br>

						On March 5, 2012 at 2:20pm, Eric sent me the Facebook message that still makes
						me smile. It starts with, “I just wanted to say that I had a ton of fun hanging out with you on Saturday.” And ends with,
						“...here’s to hoping our paths cross again.” After exchanging a few Facebook messages, we moved to phone
						calls, text messages, and Google video chats.

						<br><br>

						Eric visited me about 6 weeks later. On April 22, 2012, before I took him to the airport, we decided
						to give the long distance relationship thing a shot! That lasted about a year and a half. In the summer of 2013, we
						started talking about what was next and we decided that Eric would move to North Carolina.

						</p>

						<h2 class="margin-top-btm">The Proposal</h2>
						<p class="margin-top-btm">
						</p>

						<p class="margin-top-btm">Eric proposed to Alissa on Saturday, December 8 at their house. There are two
						stories to every proposal, so here they are…</p>

						<p class="margin-top-btm"><strong>From her point of view:</strong> On Friday, December 7, I woke up in the middle of the night
						(honestly, I don’t know what time it was) after having a nightmare about Eric cheating on me! When I woke up,
						I noticed that Eric was still awake. I told him about my nightmare. We started talking about the weekend and
						what we wanted to do and Eric mentioned having a date night Saturday night, either going out somewhere or
						cooking dinner at home together. I agreed that would be fun, and that we needed to prepare for the upcoming
						snow storm. Eventually, he said, “I need to tell you something.” Considering the nightmare I just had, this
						wasn’t a welcome phrase! He continued with, “I want to propose to you tomorrow.” With such a big event on the
						horizon, it makes sense that he was still awake! He said that even though I knew what was coming, he still
						wanted to go through with his plans. I couldn’t imagine the stress that went into planning everything, so I
						wanted to let him go through with this plans, too. Of course, after hearing that, how was I supposed to sleep?!

						<br><br>

						The next morning, we went about our business, just as we had planned before the reveal
						in the middle of the night! We decided that we were going to cook dinner, so Eric went grocery shopping and ran
						some other “secret” errands. Eric made what we now call “Engagement Quesadillas” along with Mexican rice. We
						ate dinner as best as we could with both of us knowing what was going to come next. After eating, Eric presented
						dessert, two cakes from the Raleigh French Bakery on a plate with my beautiful ring in a wooden box between them.
						Eric told me a little bit about what he had been doing for the past 4 months (since August!!!) planning my ring
						and the proposal. Then, he got down on his knee and asked me to marry him. I instantly said, “YES!”
						</p>

						<p class="margin-top-btm">
							<strong>From his point of view:</strong>
						</p>

				</div><!-- col-sm-12 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- section -->

{% endblock %}
