<!-- wedding-party.nunjucks -->
{% extends "layout.nunjucks" %}

{% block content %}
<div class="main-slider regular-slider">
  <div class="display-table center-text">
    <div class="display-table-cell">
      <div class="slider-content">

        <h1 class="title">Wedding Party</h1>
        <span class="heading-bottom"><i class="icon icon-star"></i></span>

      </div><!-- slider-content-->
    </div><!--display-table-cell-->
  </div><!-- display-table-->
</div><!-- main-slider -->

<section class="regular-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="content">

        <p class="margin-top-btm"><em>“Life is partly what we make it, and partly what it is made by the friends we choose.”
        </em>– Tennessee Williams
        </p>

        <h2 class="margin-top-btm">Officiant</h2>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/alissa_austin_eric.jpg">
          </div>

          <strong>Austin Chambers</strong>
          <br>
          Alissa's brother
          <br><br>
          Alissa has known Austin his whole life; Eric met Austin in 2012. Austin was ordained by Universal Life Church in 2014
          for Adam and Alisa's wedding. Since then, he has "threatened" marriage on us whenever we get in a disagreement.
          Austin knows us together and separately better than anyone else. He's a concert lover with Alissa and a board game nerd
          with Eric. Austin has been calling Eric his brother-in-law for years, and now he gets to be the one to make it
          official!
        </p>

        <h2 class="margin-top-btm">The Girls</h2>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/alissa_ashlee.jpg">
          </div>

          <strong>Ashlee Cleveland, Matron of Honor</strong>
          <br>
          Alissa's sister
          <br><br>
          I've known Ashlee my whole life. Based on letters my mom saved, she wasn't crazy about me when I was first born.
          Thankfully, that has changed over the years! We became best friends the minute we didn't live in the same house.
          She has been a source of support when I needed a kick in the pants; a shoulder to cry on when I
          didn't know what to do next;
          and, more recently, my biggest competition at Dr. Mario.
          </p>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/alissa_katie_v2.jpg">
          </div>

          <strong>Katie Bennett, Bridesmaid</strong>
          <br>
          Alissa's friend
          <br><br>
          Katie and I met in the roommate lottery our freshman year of college at UNC Charlotte.
          We should have known that we hit the jackpot when we both showed up with the same leopard print blanket!
          We bonded over music when we were 18, and we still do at whatever age we are now. She's my forever concert date
          and the only person that loves pizza as much as I do.
          </p>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/alissa_caroline.jpg">
          </div>

          <strong>Caroline Boggs, Bridesmaid</strong>
          <br>
          Alissa's friend
          <br><br>
          Caroline and I met through Katie and became close friends once we spent time together as bridesmaids in Katie’s wedding.
          Her house was literally in my back yard at one point, so we spent hours sitting by the neighborhood pool getting
          to know each other.
          She's an inspiration as a hostess. And, I guarantee that if she's laughing, you are, too.
        </p>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/alissa_amanda.jpg">
          </div>

          <strong>Amanda Deane, Bridesmaid</strong>
          <br>
          Alissa's friend
          <br><br>
          Amanda and I met at work and progressed from “work friends” to “friends friends.” Then,
          she decided to move back to her home state of California. How rude!
          Even though we only see each other once a year, it never feels like any time has passed as we lose our hours together
          binging TV shows and eating and drinking more than we should.
        </p>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/alissa_theresa.jpg">
          </div>

          <strong>Theresa Smith, Bridesmaid</strong>
          <br>
          Alissa's friend
          <br><br>
          Theresa and I met through Ashlee and became friends after Theresa crashed several family events,
          the first of which was my 30th birthday!
          Once she secured her spot in the family, we bonded over our love of TV shows made for teenagers.
          In short time, I learned that she's the crazy dog lady to my crazy cat lady.
          And she will likely always be the only person that truly cares when I text about Blake Lively.
        </p>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/alissa_resa.jpg">
          </div>

          <strong>Resa Cleveland, Junior Bridesmaid</strong>
          <br>
          Alissa's niece
          <br><br>
          I met Resa the day she was born. My claim to fame is that I'm the first family member to hold her besides her
          parents, Ashlee and Jeb.
          She's the one that gave me my favorite title (to date), Aunt!
          When she was little, I would lose <em>hours</em> rocking her. Now that she's 10,
          you're more likely to find us
          playing games, crafting, or chatting about the wedding.
        </p>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/alissa_raeya.jpg">
          </div>

          <strong>Raeya Chambers, Flower Girl</strong>
          <br>
          Alissa's niece
          <br><br>
          Due to a January ice storm, I met Raeya when she was one day old. She wouldn't open her sweet little eyes the whole
          time I was at the hospital visiting her, Adam, and Alisa; Adam texted me right after I left that she had them open!
          That's the first of many games she's led for us. Now that she's 4, we still like a game of hide-and-seek,
          but we've also graduated to building large lego towers and pretending that we're cheetahs.
        </p>

        <h2 class="margin-top-btm">The Boys</h2>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/eric_tyler.jpg">
          </div>

          <strong>Tyler Sauer, Best Man</strong>
          <br>
          Eric's brother
          <br><br>
          I've known Tyler since I made stuttering comments on the size of his
          toes when our parents brought him home from the hospital. Once he learned to
          walk we spent our days pretending to be all manner of homeless people (pirates,
          railroad hobos, Robin Hood and Little John). These days we bond over coffee,
          smoked meats, DIY projects and other hobbies required of millennials.
        </p>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/eric_shane.jpg">
          </div>

          <strong>Shane Hopkin, Groomsman</strong>
          <br>
          Eric's friend
          <br><br>
          Shane and I met during college, even though we didn't attend the same
          one. We began our friendship playing poker with my roommates,
          and since then I've only ever played when we brewed beer in his apartment.
          Our friendship reached new heights after we both suffered through breakups in the same month
          and discovered the beauty of a well crafted ale. On an unrelated note, Shane later introduced
          me as his monogamous drinking buddy. Don't worry, we both found women again eventually.
          Fun fact: We once took shots of tequila that contained the smoked eyeballs of a pig.
        </p>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/eric_bill.jpg">
          </div>

          <strong>Bill Pulec, Groomsman</strong>
          <br>
          Eric's friend
          <br><br>
          Bill was my last roommate before Alissa. We first met when I picked him
          up from the Indianapolis airport and silently drove an hour to Bloomington
          where we were assigned to share a corporate apartment for 3 months on our first ever
          work assignment at Red Hat. We've been close ever since. I've learned
          much from Bill over the years, from the most bizarre rules in the NFL rulebook, to the ins and outs of
          <em>initial public offerings</em>. It's partially thanks to the anniversary of my
          birth that Bill met is wife, Cheryl, and became so lovable.
        </p>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/eric_kevin.jpg">
          </div>

          <strong>Kevin San Juan, Groomsman</strong>
          <br>
          Eric's friend
          <br><br>
          I don't remember the first time I met Kevin, but it was most definitely during a party at my
          roach infested apartment on Morse Avenue in Chicago. I think there may have been a puppet show involved.
          We bonded by way of making sweet sweet music together, and by the fact that I regularly had food I didn't want
          in my freezer. As we got older and more responsible, we took to going on camping and biking trips together.
          That came to and end when I lost him in the Virginia wilderness.
        </p>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/eric_jj.jpg">
          </div>

          <strong>JJ Cleveland, Junior Groomsman</strong>
          <br>
          Alissa's nephew
          <br><br>
          I met JJ, along with the rest of Alissa's family, at his first birthday party. It's thanks to JJ
          and his sister, Resa, that my name is now and will forever be Mr. Eric. We have many things in common.
          The face we make when we're watching TV and ignoring the world. Our patience level for sitting
          at the table after we're done eating. Our desire to talk to strangers.
        </p>

        </div><!-- content -->

      </div><!-- col-sm-12 -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- section -->

{% endblock %}
