<!-- wedding-party.nunjucks -->
{% extends "layout.nunjucks" %}

{% block content %}
<div class="main-slider regular-slider">
  <div class="display-table center-text">
    <div class="display-table-cell">
      <div class="slider-content">

        <h1 class="title">Wedding Party</h1>
        <span class="heading-bottom"><i class="icon icon-star"></i></span>

      </div><!-- slider-content-->
    </div><!--display-table-cell-->
  </div><!-- display-table-->
</div><!-- main-slider -->

<section class="regular-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="content">

          <h4 class="margin-top-btm">Our Wedding Party</h4>

          <ul>
           <li><strong>Officiant:</strong> Austin Chambers</li>
          </ul>

          <ul>
            <li><strong>Bridesmaids:</strong>
              <ul>

               <li>Ashlee Cleveland (Matron of Honor)
                <ul>I am so excited to have my sister, Ashlee, as my Matron of Honor! I’ve always said that I was born with my best
                friend waiting; I just don’t know what she did for three and a half years without me! Ashlee has been a source of support,
                a shoulder to cry on, and my biggest cheerleader throughout each chapter of my life. It only makes sense that she’s
                standing next to me as I start the next one!
                </ul>
               </li>

               <li>Katie Bennett</li>
               <li>Caroline Boggs</li>
               <li>Amanda Deane</li>
               <li>Theresa Smith</li>
              </ul>
            </li>
          </ul>

          <ul>
           <li><strong>Junior Bridesmaid:</strong> Resa Cleveland</li>
           <li><strong>Flower Girl:</strong> Raeya Chambers</li>
          </ul>

          <ul>
            <li><strong>Groomsmen:</strong>
              <ul>
                <li>Tyler Sauer (Best Man)</li>
                <li>Shane Hopkin</li>
                <li>Bill Pulec</li>
                <li>Kevin San Juan</li>
              </ul>
            </li>
          <ul>

          <ul>
            <li><strong>Junior Groomsman:</strong> JJ Cleveland</li>
          </ul>

        </div><!-- content -->

      </div><!-- col-sm-12 -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- section -->

{% endblock %}
