<!-- wedding-party.nunjucks -->
{% extends "layout.nunjucks" %}

{% block content %}
<div class="main-slider regular-slider">
  <div class="display-table center-text">
    <div class="display-table-cell">
      <div class="slider-content">

        <h1 class="title">Wedding Party</h1>
        <span class="heading-bottom"><i class="icon icon-star"></i></span>

      </div><!-- slider-content-->
    </div><!--display-table-cell-->
  </div><!-- display-table-->
</div><!-- main-slider -->

<section class="regular-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="content">

        <p class="margin-top-btm"><em>“Life is partly what we make it, and partly what it is made by the friends we choose.”
        </em>– Tennessee Williams
        </p>

        <h2 class="margin-top-btm">Officiant</h2>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/alissa_austin_eric.jpg">
          </div>

          <strong>Austin Chambers</strong>
          <br>
          Alissa's brother
          <br><br>
          Alissa has known Austin his whole life; Eric met Austin in 2012. Austin was ordained by Universal Life Church in 2014
          for Adam and Alisa's wedding. Since then, he has "threatened" marriage on us whenever we get in a disagreement.
          Austin knows us together and separately better than anyone else. He's a concert lover with Alissa and a board game nerd
          with Eric. Austin has been calling Eric his brother-in-law for years, and now he gets to be the one to make it
          official!
        </p>

        <h2 class="margin-top-btm">The Girls</h2>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/alissa_ashlee.jpg">
          </div>

          <strong>Ashlee Cleveland, Matron of Honor</strong>
          <br>
          Alissa's sister
          <br><br>
          I've known Ashlee my whole life. I’ve always said that I was born with my best friend waiting for me.
          She's the only person that could <em>potentially</em> beat me at Dr. Mario.
          I'm going to vote her most likely to cry during the wedding, but she could surprise me!
          <br>
        </p>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/alissa_katie.jpg">
          </div>

          <strong>Katie Bennett, Bridesmaid</strong>
          <br>
          Alissa's friend
          <br><br>
          Katie and I met in the roommate lottery our freshman year of college at UNC Charlotte. We sure hit the jackpot!
          We bonded over music when we were 18, and we still do at whatever age we are now. We'll try to keep the sing-alongs
          to a minimum at the wedding.
        </p>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/alissa_caroline.jpg">
          </div>

          <strong>Caroline Boggs, Bridesmaid</strong>
          <br>
          Alissa's friend
          <br><br>
          Caroline and I met through Katie and became close friends once we spent time together as bridesmaids in Katie’s wedding.
          She's got an infectious laugh and I'm looking forward to seeing her dance moves at the wedding. (Just picture Kristen
          Wiig in <em>Bridesmaids</em>!)
        </p>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/alissa_amanda.jpg">
          </div>

          <strong>Amanda Deane, Bridesmaid</strong>
          <br>
          Alissa's friend
          <br><br>
          Amanda and I met at work and progressed from “work friends” to “friends friends.” She's my longest-distance friend
          and she's always up for an adventure. Here's to hoping she doesn't spill as many drinks at the wedding as she
          did on New Year's Eve.
        </p>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/alissa_theresa.jpg">
          </div>

          <strong>Theresa Smith, Bridesmaid</strong>
          <br>
          Alissa's friend
          <br><br>
          Theresa and I met through Ashlee and became friends after Theresa crashed several family events. She's the crazy
          dog lady to my crazy cat lady. Thankfully, her dogs won't kill me like my cats would her (allergies!). Her dog,
          Arya, is the only animal I've considered allowing in the wedding party.
        </p>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/alissa_resa.jpg">
          </div>

          <strong>Resa Cleveland, Junior Bridesmaid</strong>
          <br>
          Alissa's niece
          <br><br>
          I have known Resa her whole life; she's Jeb and Ashlee's daughter. This 10-year-old has been so interested in our wedding,
          she may grow up to be a wedding planner!
        </p>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/alissa_raeya.jpg">
          </div>

          <strong>Raeya Chambers, Flower Girl</strong>
          <br>
          Alissa's niece
          <br><br>
          I have known Raeya her whole life; she's Adam and Alisa's daughter. This 4-year-old is full of sass and class.
          I need to keep an eye on her, she may steal the show on our wedding day!
        </p>

        <h2 class="margin-top-btm">The Boys</h2>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/eric_tyler.jpg">
          </div>

          <strong>Tyler Sauer, Best Man</strong>
          <br>
          Eric's brother
          <br><br>
          I've known Tyler since I made stuttering comments on the size of his
          toes when our parents brought him home from the hospital. Once he learned to
          walk we spent our days pretending to be all manner of homeless people (pirates,
          railroad hobos, Robin Hood and Little John). These days we bond over coffee,
          smoked meats, DIY projects and other hobbies required of millennials.
        </p>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/eric_shane.jpg">
          </div>

          <strong>Shane Hopkin, Groomsman</strong>
          <br>
          Eric's friend
          <br><br>
          Shane and I met during college, even though we didn't attend the same
          one. We began our friendship playing poker with my roommates,
          and since then I've only ever played when we brewed beer in his apartment.
          Our friendship reached new heights after we both suffered through breakups in the same month
          and discovered the beauty of a well crafted ale. On an unrelated note, Shane later introduced
          me as his monogamous drinking buddy. Don't worry, we both found women again eventually.
          Fun fact: We once took shots of tequila that contained the smoked eyeballs of a pig.
        </p>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/eric_bill.jpg">
          </div>

          <strong>Bill Pulec, Groomsman</strong>
          <br>
          Eric's friend
          <br><br>
          Bill was my last roommate before Alissa. We first met when I picked him
          up from the Indianapolis airport and silently drove an hour to Bloomington
          where we were assigned to share a corporate apartment for 3 months on our first ever
          work assignment at Red Hat. We've been close ever since. I've learned
          much from Bill over the years, from the most bizarre rules in the NFL rulebook, to the ins and outs of
          <em>initial public offerings</em>. It's partially thanks to the anniversary of my
          birth that Bill met is wife, Cheryl, and became so lovable.
        </p>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/eric_kevin.jpg">
          </div>

          <strong>Kevin San Juan, Groomsman</strong>
          <br>
          Eric's friend
          <br><br>
          I don't remember the first time I met Kevin, but it was most definitely during a party at my
          roach infested apartment on Morse Avenue in Chicago. I think there may have been a puppet show involved.
          We bonded by way of making sweet sweet music together, and by the fact that I regularly had food I didn't want
          in my freezer. As we got older and more responsible, we took to going on camping and biking trips together.
          That came to and end when I lost him in the Virginia wilderness.
        </p>

        <p class="margin-top-btm">
          <div class="img-wrapper float-left weddingpartypic">
            <img src="/images/eric_jj.jpg">
          </div>

          <strong>JJ Cleveland, Junior Groomsman</strong>
          <br>
          Alissa's nephew
          <br><br>
          I met JJ, along with the rest of Alissa's family, at his first birthday party. It's thanks to JJ
          and his sister, Resa, that my name is now and will forever be Mr. Eric. We have many things in common.
          The face we make when we're watching TV and ignoring the world. Our patience level for sitting
          at the table after we're done eating. Our desire to talk to strangers.
        </p>

        </div><!-- content -->

      </div><!-- col-sm-12 -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- section -->

{% endblock %}
